{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="breadcrumb">
    <h1>Participaciones</h1>
    <ul>
        <li><a href="/participantes">Participaciones</a></li>
        <li>Principal</li>
    </ul>
</div>
<div class="separator-breadcrumb border-top"></div>

<div class="col-md-12 mb-6">
    <div class="card text-left">

        <div class="card-body">
            <h4 class="card-title mb-3">Crear Participacion</h4>
            <!-- Django Controller BEGIN -->

              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- {{ form.as_p }} -->
                <div class="col-md-6 form-group mb-3">
                    <label for="nombre">Evento</label>
                    {{ form.e_id }}
                </div>
                <div class="col-md-6 form-group mb-3">
                    <label for="lugar">Participante</label>
                    {{ form.p_id }}
                </div>

                <button type="submit" class="btn btn-primary">Aceptar</button>
                <a href="../" type="submit" class="btn btn-primary">Volver</a>

              </form>

            <!-- Django Controller END -->
            </div>
          </div>
        </div>


{% endblock %}
