{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="breadcrumb">
    <h1>Participaciones</h1>
    <ul>
        <li><a href="/eventos">Participaciones</a></li>
        <li>Principal</li>
    </ul>
</div>
<div class="separator-breadcrumb border-top"></div>

<div class="col-md-12 mb-6">
    <div class="card text-left">

        <div class="card-body">
            <h4 class="card-title mb-3">Participaciones</h4>
            <div align="left" class="btn_crear mb-3">
              <a href="crear" type="button" class="btn btn-primary">Crear</a>
            </div>
            <!-- Django Controller BEGIN -->
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Particpante</th>
                  <th>Evento</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>

                {% for beneficio in beneficio_list %}
                <tr>
                  <td>{{ beneficio.p_id }}</td>
                  <td>{{ beneficio.e_id }}</td>
                  <td>
                    <form method="POST" action="eliminar/{{beneficio.id}}">
                      {% csrf_token %}
                      <div class="btn-group">

                        <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                          Eliminar
                        </button>
                      </div>
                    </form>
                  </td>
                </tr>
              {% endfor %}

              </tbody>
            </table>

              <!-- Django Controller END -->
            </div>
          </div>
        </div>


{% endblock %}
